<div (click)="onClick()"
     (mousedown)="clickInfo='mouseDown'"
     [@clickedState]="clickInfo"></div>
<p
  (click)="paragraphClick = 'clicked'"
  [@clickedState]="paragraphClick">Some text
</p>

<hr>
<input type="number" (input)="numberEntred = $event.target.value">
<br><br>
<span [@numberEnteredState]="numberEntred == 1 ? 'selected' : 'unselected'">1</span>
<span [@numberEnteredState]="numberEntred == 2 ? 'selected' : 'unselected'">2</span>
<span [@numberEnteredState]="numberEntred == 3 ? 'selected' : 'unselected'">3</span>
<span [@numberEnteredState]="numberEntred == 4 ? 'selected' : 'unselected'">4</span>
<span [@numberEnteredState]="numberEntred == 5 ? 'selected' : 'unselected'">5</span>
<span [@numberEnteredState]="numberEntred == 6 ? 'selected' : 'unselected'">6</span>
<span [@numberEnteredState]="numberEntred == 7 ? 'selected' : 'unselected'">7</span>
<span [@numberEnteredState]="numberEntred == 8 ? 'selected' : 'unselected'">8</span>
<span [@numberEnteredState]="numberEntred == 9 ? 'selected' : 'unselected'">9</span>
<span [@numberEnteredState]="numberEntred == 0 ? 'selected' : 'unselected'">0</span>


